extends ../layouts/default

include ../mixins/sidebar.jade

block content

	.container

		.row

			.col-xs-12.col-sm-12(data-spy='scroll', data-target='#sidebar-nav')
				// article.Page(data-ks-editable=editable(user, { list: 'Page', id: data.page.id }))

				.content

					h1= data.composition.title
					hr

					.col-md-10
				
						.post
							
							!= data.composition.content.english