extends ../layouts/default

include ../mixins/sidebar.jade

block content		

	.container-fluid
		.row-fluid
			.span12
				
				What's New in 2014

				PRESS RELEASE

				On Saturday 4 October, the composer and music critic Konrad Boehmer (born 24 May 1941 in Berlin) died in Amsterdam at the age of 73. He had suffered a cerebral infarction on 10 August while on holiday in the south of France, and since 24 August had been cared for at the Onze Lieve Vrouwe Gasthuis (OLVG) in Amsterdam.

				Konrad Boehmer had lived in Amsterdam since 1966. His large compositional oeuvre includes both acoustic and electronic music, which was performed throughout the world. In 1983 he received the Rolf Liebermann Prize for his opera Doktor Faustus. As a music critic he wrote for the weekly Vrij Nederland magazine and also published internationally on contemporary music and authors’ rights.

				From 1972 onwards Konrad Boehmer taught at the Royal Conservatoire in The Hague, where he directed the Institute of Sonology from 1994 to 2006. He held numerous chairmanships, including of the Dutch musical authors’ rights society BUMA/STEMRA and the Society of Dutch Composers GeNeCo.

				Konrad Boehmer received the honour "Officier in de Orde van Oranje-Nassau" from Her Majesty Queen Beatrix of the Netherlands.

				The funeral will take place on Monday 13 October at 2pm at De Duif, Prinsengracht 756, Amsterdam.

				In the name of the family: Ursula Jakobsen, Norway.

				Konrad Boehmer Foundation: Sander van Maas, Kees Tazelaar, Frits Zwart.


				PERSBERICHT

				Op zaterdag 4 oktober is in Amsterdam de componist en muziekcriticus Konrad Boehmer (* 24 mei 1941, Berlijn) overleden. Hij werd in zijn vakantieverblijf in Zuid-Frankrijk op 10 augustus jongstleden getroffen door een herseninfarct. Sinds 24 augustus werd hij verzorgd in het Onze Lieve Vrouwe Gasthuis (OLVG) in Amsterdam.

				Konrad Boehmer woonde sinds 1966 in Nederland. Hij componeerde een groot oeuvre voor akoestische en elektro-akoestische bezettingen dat wereldwijd wordt uitgevoerd. Voor zijn opera Doktor Faustus ontving hij in 1983 de Rolf Liebermann-prijs. Als muziekcriticus werkte hij voor Vrij Nederland en publiceerde internationaal over hedendaagse muziek en auteursrecht.

				Sinds 1972 was Konrad Boehmer docent aan het Koninklijk Conservatorium in Den Haag. Van 1994 tot 2006 gaf hij daar leiding aan het Instituut voor Sonologie. Hij bekleedde vele bestuursfuncties, waaronder het voorzitterschap van Buma/Stemra en van het Genootschap van Nederlandse Componisten.

				Konrad Boehmer was Officier in de Orde van Oranje-Nassau. Hij is 73 jaar geworden.

				De uitvaartplechtigheid vindt plaats op maandag 13 oktober om 14 uur in De Duif, Prinsengracht 756 te Amsterdam.

				Namens de familie: Ursula Jakobsen, Noorwegen.

				Konrad Boehmer Foundation: Sander van Maas, Kees Tazelaar, Frits Zwart.


